<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receive Message on Phone</title>
</head>
<body>
<h1>Received Messages</h1>
<div id="messages"></div>

<script>
        function fetchMessages() {
            fetch('http://localhost:5000/receive_messages')
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                // 显示消息
                var messagesDiv = document.getElementById('messages');
                messagesDiv.innerHTML = ''; // 清空旧消息
                data.messages.forEach(message => {
                    var messageContainer = document.createElement("div");
                    var para = document.createElement("p");
                    var playButton = document.createElement("button");
                    playButton.textContent = 'Play';
                    para.textContent = message;
                    playButton.onclick = function() { speakMessage(message); }; // 设置按钮的点击事件来朗读消息

                    // 把段落和播放按钮添加到消息容器，然后把容器添加到页面上
                    messageContainer.appendChild(para);
                    messageContainer.appendChild(playButton);
                    messagesDiv.appendChild(messageContainer);
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        // 用于朗读消息的函数
        function speakMessage(message) {
            var msg = new SpeechSynthesisUtterance();
            msg.text = message;
            window.speechSynthesis.speak(msg);
        }

        setInterval(fetchMessages, 1000);  // 每隔1秒钟获取一次消息

    </script>
</body>
</html>
